@import "./assets/fonts/fonts.css";
@import "tailwindcss";


/* Default UI, colors, fonts */
@theme {
  --font-regular: 'Sweet Sans Pro Light', sans-serif;
  --font-medium: 'Sweet Sans Pro Medium', sans-serif;
  --font-bold: 'Sweet Sans Pro Bold', sans-serif;


  --color-primary: #083323;
  --color-secondary: #B7DBA9;
}
